@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.cabecera {
    position: relative;
    background-color: rgb(230, 219, 219);
    color: rgb(27, 134, 27);
    padding: 1%;
    text-align: center;
}

.encabezado {
    position: relative;
}

.logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px; 
    width: auto;
}

.pie  {
    display: flex;
    background-color: rgb(230, 219, 219);
    vertical-align:auto;
    align-items: start;
    color:rgb(27, 134, 27);
    padding: 10px 1%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fotofooter {
    position: absolute;
    left: 10px;
    top: auto;
    transform: translateY(-50%);
    height: 60px; 
    width: auto;
    background-color: 230, 219, 219;
}

body {
    background-image: url("Imagenes/ChatGPT\ Image\ 17\ may\ 2025\,\ 16_55_05.png");
    background-repeat: no-repeat;      
    background-size: cover;            
    background-position: center;       
    background-attachment: fixed; 
}

#resultado {
    display: none;
    max-width: 600px;     
    margin: 40px auto;    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

.boton {
    padding: 2%;
    font-size: 18px;
    background-color: #1cb10e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.espaciador {
    margin-bottom: -4%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.cont {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}